@import "vars";

@font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;

//.font-face(@file-name, @font-family, @font-name, @font-weight: 100, @font-style: normal) {
//  @font-face {
//    font-family: @font-family;
//    src: url("../../fonts/@{file-name}.ttf") format("truetype");
//    font-weight: @font-weight;
//    font-style: @font-style;
//  }
//}
//
//.font-face(SourceSansPro-Light, Source Sans Pro, 300);
//.font-face(SourceSansPro-Regular, Source Sans Pro, 400);
//.font-face(SourceSansPro-Bold, Source Sans Pro, 700);

.font-thin() {
  font-family: @font-family;
  font-weight: 100;
  font-style: normal;
}

.font-light() {
  font-family: @font-family;
  font-weight: 300;
  font-style: normal;
}

.font-regular() {
  font-family: @font-family;
  font-weight: 400;
  font-style: normal;
}

.font-medium() {
  font-family: @font-family;
  font-weight: 500;
  font-style: normal;
}

.font-bold() {
  font-family: @font-family;
  font-weight: 700;
  font-style: normal;
}

.font-light-bold() {
  font-family: @font-family;
  font-weight: 600;
  font-style: normal;
}

.font-italic() {
  font-family: @font-family;
  font-weight: 400;
  font-style: italic;
}

.font-medium-italic() {
  font-family: @font-family;
  font-weight: 500;
  font-style: italic;
}